<h1 class="posts-tag-cloud-title">Filter posts</h1>
<div class="posts-tag-cloud">
  {% for tag in site.tags %}
  <a href="#" data-tag="{{ tag[0] }}">{{ tag[0] }}</a>
  {% endfor %}
</div>

<div class="posts-filtered">
  {% for post in include.posts %}
  <div class="posts-filtered-item">
    <a href="{{ site.baseurl }}{{ post.url }}" data-filter="{{ post.tags | join: " "}}">
      <img src="{{ post.hero_image_url }}" alt="{{ post.hero_image_alt }}" />
      {{ post.title }}
      <div class="posts-filtered-item-tags">{{ post.tags | join: " "}}</div>
    </a>
  </div>
  {% endfor %}
</div>