<div class="packing-list">
  <div class="packing-list-contents">
    <h2>Packing list</h2>

    <h3>Backpack contents</h3>
    <ul class="packing-list-unit">
      {% for backpack_content_item in include.backpack_contents %}
      <li>
        {{ backpack_content_item }}
      </li>
    {% endfor %}
    </ul>
  
    <h3>Clothes</h3>
    <ul class="packing-list-unit">
    {% for item_of_clothing in include.clothes %}
    <li>
      {{ item_of_clothing }}
    </li>
    {% endfor %}
    </ul>
  </div>  
</div>