@import './reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  color: #1D2B31;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
  min-width: 320px;
}

.tag-cloud {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

a {
  color: #32758F;
  text-decoration: none;
}

a:hover, a:visited {
  color: #B9D9E5;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding: 48px 24px 24px 24px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding: 24px;
}

h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0 24px 24px 24px;
}

p, ul.post-summary {
  padding: 0 24px 24px 24px;
}

.hero {
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.hero h1 {
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
}

@media only screen and (min-width: 400px) {
  .hero h1 {
    font-size: 36px;
    line-height: 42px;
  }
}

.posts-tag-cloud-title {
  font-size: 24px;
  line-height: 32px;
}

.posts-tag-cloud-title, .posts-tag-cloud {
  text-align: center;
}

.posts-tag-cloud {
  padding: 18px;
}

.posts-tag-cloud a {
  background: #B9D9E6;
  border-radius: 22px;
  color: #1D2B31;
  display: inline-block;
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  padding: 12px;
  min-width: 90px;
  margin: 5px 2.5px;
}

.posts-tag-cloud a.active {
  background-color: #32758F;
  color: #ffffff;
}

.posts-filtered {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
}

.posts-filtered-item {
  padding-bottom: 12px;
  width: 100%;
}

.posts-filtered-item img {
  margin-bottom: 12px;
}

.posts-filtered-item a {
  color: #1D2B31;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.posts-filtered-item-tags {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
}

@media only screen and (min-width: 400px) {
  .posts-tag-cloud-title {
    font-size: 36px;
    line-height: 42px;
  }

  .posts-tag-cloud {
    padding: 24px;
  }

  .posts-filtered-item {
    width: 50%;
    padding: 12px;
  }

  .posts-filtered-item a {
    font-size: 24px;
    line-height: 30px;
  }

  .posts-filtered-item-tags {
    font-size: 14px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 835px) {
  .posts-filtered-item {
    width: 33.33%;
  }
}

.post-ingress {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

ul.post-summary {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 274.38%;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

blockquote {
  color: #32758F;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 48px 24px 48px 48px;
}

.packing-list {
  background-color: #F2F2F2;
  padding: 24px;
}

.packing-list-contents {
  margin: 0 auto;
  max-width: 350px;
}

.packing-list ul {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 0 24px 48px 24px;
}

.packing-list ul li {
  padding: 6px 0;
}