{% include html_header.html %}
<body>
  <div class="hero hero-short" style="background-image: url('{{ page.hero_image_url }}');"></div>
  <h1>{{ page.title }}</h1>
  <p class="post-ingress">{{ page.description }}</p>
  <ul class="post-summary">
    <li>{{ page.time }}</li>
    <li>{{ page.location }}</li>
    <li>{{ page.duration }}</li>
    <li>{{ page.distance }}</li>
    <li>{{ page.elevation }}</li>
    <li>{{ page.backpack_weight }}</li>
    <li>{{ page.season }}</li>
    <li>{{ page.weather }}</li>
  </ul>
  {{ content }}
</body>
{% include html_footer.html %}
